body {
  background-image: url('../assets/images/Space.jpg'); /* Add the URL for your space background image here */
  background-size: cover;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(179, 179, 179);
  text-align: center;
  padding: 10px;
  font-size: 12px;
}